<button class="btn btn-sm btn-secondary float-right" (click)="addNewUser()">Add new user</button>

<h2>
  Users
</h2>


<div class="container">
  <div class="row">

    <div class="col-4">

      <table class="table table-sm table-hover">
        <tr *ngFor="let user of users" [ngClass]="{'table-info': selectedUser != null && selectedUser.id == user.id}">
          <td (click)="selectUser(user)">[{{user.id}}] {{user.username}}</td>
        </tr>
      </table>

    </div>

    <div class="col-8">

      <div *ngIf="selectedUser" class="card">

        <div class="card-body">

          <h4 class="card-title">User details</h4>

          <form [formGroup]="editUserForm"
                (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" [formControl]="editUserForm.controls['username']"/>
            </div>

            <div class="form-group">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                     [formControl]="editUserForm.controls['firstName']"/>
            </div>

            <div class="form-group">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Enter last name" [formControl]="editUserForm.controls['lastName']"/>
            </div>

            <div class="float-right">
              <button type="button" class="btn btn-danger" (click)="deleteUser(selectedUser)">Delete</button>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>

          </form>

        </div>
      </div>


      <div *ngIf="successMessage" class="alert alert-success alert-dismissible" role="alert">
        {{successMessage}}
      </div>

      <div *ngIf="failureMessage" class="alert alert-danger alert-dismissible" role="alert">
        {{failureMessage}}
      </div>

    </div>
  </div>
</div>


